DATABASE_URL=postgres://user:password@ep-xxxx.neon.tech/dbname?sslmode=require
R2_BUCKET=votokiosko
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

# Autenticación del panel admin
JWT_SECRET=cambia-esto-por-una-cadena-larga-y-aleatoria
ADMIN_EMAIL=admin@empresa.com
ADMIN_PASSWORD=cambia-esta-contraseña

# Clave compartida que usa el kiosko para poder votar sin login de usuario
KIOSK_API_KEY=cambia-esto-por-otra-cadena-larga-y-aleatoria
